* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  position: relative;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_logo {
  display: none;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #b5b5b5;
  width: 480px;
  height: 2rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #303030;
}

.searchbar svg {
  width: 13px;
  margin: 0 0.5rem;
}
.searchbar input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: medium;
  color: #b5b5b5;
}

::placeholder {
  color: #b5b5b5;
}

.profile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  margin: 0 1rem;
  background-color: #303030;
  outline: none;
  border: none;
  cursor: pointer;
}
.notify svg {
  width: 70%;
}
.notification,
.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.25rem;
  right: 1px;
  color: black;
  width: 20rem;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.375rem;
  z-index: 1000;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.show {
  display: flex;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.alert p {
  font-weight: 700;
}

.alert_details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 15px;
  color: #616161;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.username {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #303030;
  height: 32px;
  cursor: pointer;
}

h4 {
  margin: 1rem;
}

.username span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  color: black;
  background-color: #36fba1;
}

.menu_item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  align-self: stretch;
}

.menu_item_title {
  display: flex;
  align-items: center;
}

.menu_item_title span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  color: black;
  background-color: #36fba1;
}

.store {
  display: flex;
  padding: 0.375rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  padding: 0rem 0.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

li {
  display: flex;
  padding: 0.375rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.1375rem */
}

a {
  text-decoration: none;
  color: inherit;
}
.user {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.user > div {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.user h4 {
  color: var(--font-dark, #303030);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.1375rem */
  margin: 0;
}

.user p {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
}

.logout,
.manage {
  display: flex;
  padding: 0.375rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.plans_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.plans {
  display: flex;
  width: 50rem;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--grey-grey-300, #1a1a1a);
}

.plans p {
  color: var(--font-light, #e3e3e3);
  /* Text-13/medium */
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.1375rem */
}

.plans div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.plans a {
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  cursor: pointer;
}

.plans svg {
  display: flex;
  padding: 0.375rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.plan_details {
  display: flex;
  flex-direction: column;

  border-radius: 1.125rem;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.plan_setup {
  display: flex;
  width: 50rem;
  align-items: flex-start;
  width: 50rem;
  padding: 0.5rem;
  justify-content: space-between;
  gap: 1rem;
}
.setup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.setup h3 {
  color: var(--font-dark, #303030);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.225rem */
}

.setup p {
  color: var(--font-dark, #303030);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.1375rem */
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
  color: var(--font-dark, #303030);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
}

.open_icon svg {
  display: flex;
  padding: 0.25rem;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}

.setup_details {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.125rem;
  align-self: stretch;
}

.setup_details_wrapper {
  display: flex;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  align-items: center;
  gap: 6rem;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 0.625rem;
  background: #f3f3f3;
  width: 50rem;
}

.custom {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
}

.section_header {
  width: 100%;
  display: flex;
  align-items: center;
}

.section_header h4 {
  color: var(--font-dark, #303030);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.1375rem */
}

.section_header svg {
  width: 1.5rem;
  height: 1.5rem;
}

.text {
  display: flex;
  padding: 0.125rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  margin: 0 2.5rem;
}

.text p {
  color: var(--font-mid-2, #616161);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.1375rem */
}
.text a {
  color: var(--states-focused, #005bd3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.text button {
  color: var(--font-light, #f6f3f6);

  /* Text-12/Semi bold */
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}

@media screen and (max-width: 768px) {
  .mobile_logo {
    display: block;
  }
  .desktop_logo {
    display: none;
  }
  .searchbar {
    width: 90%;
  }
  .username h4 {
    display: none;
  }
  .notification,
  .menu {
    width: 20rem;
  }
  .plans {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .plan_details,
  .plan_setup {
    width: 100%;
  }
}
