* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: relative;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_logo {
  display: none;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #b5b5b5;
  width: 480px;
  height: 2rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #303030;
}

.searchbar svg {
  width: 13px;
  margin: 0 0.5rem;
}
.searchbar input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: medium;
  color: #b5b5b5;
}

::placeholder {
  color: #b5b5b5;
}

.profile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  margin: 0 1rem;
  background-color: #303030;
  outline: none;
  border: none;
  cursor: pointer;
}
.notify svg {
  width: 70%;
}
.notification {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.25rem;
  right: 1px;
  color: black;
  width: 25rem;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.5rem;
  z-index: 1000;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.show {
    display: flex;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.alert p {
  font-weight: 700;
}

.alert_details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 15px;
  color: #616161;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.username {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #303030;
  height: 32px;
}

h4 {
  margin: 1rem;
}

.username span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  color: black;
  background-color: #36fba1;
}
@media screen and (max-width: 768px) {
  .mobile_logo {
    display: block;
  }
  .desktop_logo {
    display: none;
  }
  .searchbar {
    width: 90%;
  }
  h4 {
    display: none;
  }
}
